.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    border: 0;
    border-bottom: 1px solid #9B9B9B;
    padding: 1rem;
}

.container > * {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    /* margin: 0 5px; */
    /* align-content: center; */
}

.first {
    display: flex;
    /* gap: 5px; */
}

.txnUpdateIcon {
    height: var(--icon-size);
    width: var(--icon-size);
    align-content: center;
    text-align: center;
    align-items: center;
    color: white;
    box-shadow: 0px 4px 4px 0px #00000040;
    border:0;
    border-radius: 15px;
}

.categoryIcon {
    height: var(--icon-size);
    width: var(--icon-size);
    align-content: center;
    text-align: center;

    /* box-shadow: 0px 4px 4px 0px #00000040; */
    border-radius: 50%;
    color: #222222;
    background: #D9D9D9;
    /* border: 1px solid #222222; */
}

.txnText {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;
}

.txnAmount {
    font-weight: 700;
    color: #f4bb4a;
}