
.container {
    display: flex;
    gap: 2rem;
    background: #626262;
    padding: 1rem 3rem;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 10px;
    margin-top: .5rem;
}

.pieContainer {
    flex-grow: 1;
}

.cardContainer {
    height: 180px;
    width: 355px;
    padding: 2rem 0;
}

.title {
    font-family: Ubuntu;
    font-size: 32px;
    font-weight: 700;
    line-height: 36.77px;
    font-style: none;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

/* modals */

.modal__title {
    color: #000;
    font-family: Ubuntu;
    font-size: 30px;
    font-weight: 700;
    line-height: 34.47px;
    text-align: left;
    margin-bottom: .5rem;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.modal__content {
    /* inset:  */
    position: relative;
    inset: auto;
    height: auto;
    width: auto;
    max-width: 90%;
    max-height: 90%;

    border: 1px solid rgb(204, 204, 204);
    overflow: auto;
    border-radius: 15px;
    padding: 2rem;
    background: #EFEFEFD9;
}

.modal__overlay {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(255, 255, 255, 0.5); */
    background: #FFFFFFC4;
}

.modal__grid__expense {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, minmax(min(40px, 100%), 1fr));
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.modal__grid__expense > * {
    grid-column: span 2;
    grid-row: auto;
    /* background: linear-gradient(0deg, #D9D9D9, #D9D9D9), linear-gradient(0deg, #D9D9D9, #D9D9D9), linear-gradient(0deg, #FBFBFB, #FBFBFB); */
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 15px;
    border: transparent;
}

.modal__cancel__expense {
    grid-column: span 1;
}

.modal__grid__balance {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, minmax(40px, 1fr));
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.modal__grid__balance > * {
    grid-column: span 1;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 15px;
    border: transparent;
}