/* .grid_ {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 2rem;
    margin: 2rem;
}

.grid_cell {
    height: 250px;
    height: min-content;
    height: 100%;
    text-align: center;
    padding: 1rem;
    border-radius: 15px;
    background-color: thistle;
}

.grid_cell > img {
    height: 150px;
    max-height: 150px;
    width: 100%;
    object-fit: cover;
} */

.landingPage {
    display: grid;
    row-gap: 2rem;
    column-gap: 1rem;
    outline: var(--outline);
    padding: 0 .5rem;
     
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: 1fr 1fr; */
    /* padding: 1rem;
    */
    grid-template-areas:
        'a a a a a'
        'b b b c c';
}

.expenseTracker {
    outline: var(--outline);
    grid-area: a;
    /* grid-column: span 4; */
    /* max-width: 100%; 
    */
}

.txnList {
    outline: var(--outline);
    grid-area: b;
    /* grid-column: span 2; */
}

.trending {
    outline: var(--outline);
    grid-area: c;
    /* grid-column: span 2; */
    /* flex-grow: 1;
    width: 100%; */
}