.grid_ {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 2rem;
    margin: 2rem;
}

.grid_cell {
    height: 250px;
    /* height: min-content; */
    /* height: 100%; */
    text-align: center;
    padding: 1rem;
    border-radius: 15px;
    background-color: thistle;
}

.grid_cell > img {
    height: 150px;
    /* max-height: 150px; */
    width: 100%;
    object-fit: cover;
}