:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5;
  font-weight: 400; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: content-box;

  /* Global CSS Variables */
  --card-bg: #9B9B9B;
  --btn-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --icon-size: 3rem;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

button:hover{
  cursor: pointer;
}

/*  */
.imageGlobalValue {
  height: 1.5rem;
  width: 1.5rem;
  object-fit: cover;
}

.modal{
  display: block;
}

.bgRed {
  background: #FF3E3E;
}

.bgYellow {
  background: #F4BB4A;
}

/* 
.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
} */
